<table align="center" width="98%" border="0" cellpadding="2"><tr><td>
<h2>{{header}}</h2>
<table cellpadding="1" cellspacing="0" border="1" width="95%">
<tr>
<th>Photo ID</th>
<th>Date</th>
<th>Title</th>
<th>Thumbnail</th>
<th>Description</th>
<th>Group ID</th>
<th>Indi Count</th>
</tr>
{{#each rows}}
<tr>
<td valign="top"><a href="/{{../dbName}}/media/edit/{{this.id}}">{{this.id}}</a></td>
<td valign="top">{{this.tdate}}</td>
<td valign="top">{{this.title}}</td>
<td valign="top"><a href="/{{../dbName}}/media/view/{{this.id}}" target="_photo"><img src="/{{../dbName}}/{{this.thumb}}"></a></td>
<td valign="top">{{this.desc}}</td>
<td valign="top">{{this.gid}}</td>
<td valign="top">{{this.indi_cnt}}</td>
</tr>
{{/each }}

</table>

</td></tr>
</table>
