<table class="tableback" width="99%" border="0" cellspacing="0" cellpadding="1" valign="center" align="center"><tr><td>
<table class="tablelite" width="100%" border="0" cellspacing="0" cellpadding="3"><tr>
  <td class="h1" align="left">Web Photo Browser</td>
  <td>
  <table align="right"><tr>
    <form action="/{{dbName}}/media/{{#if isAdmin}}edit{{else}}view{{/if}}/0" method="get">
      <td align=center>
        <input type="input" size="6" maxlength="10" name="id">
        <input type=submit value="GO TO">
      </td>
    </form>
    {{#if isAdmin}}
    <form action="/{{dbName}}/media/upload" method="get">
      <td align=center>
        <input type=submit value="UPLOAD">
      </td>
    </form>
    {{/if}}
    </tr></table>
  </tr>
</table>
</td></tr></table></td></tr></table>
<div>&nbsp;</div>

<table cellspacing="5" width="90%" align="center">
  <tr>
    <td width="150px">
      For search use '%' as a wild card like '%steve%'.<br><br>
      From and To restrict the list results (From&nbsp;&lt;=&nbsp;PID&nbsp;&lt;=&nbsp;To).
    </td>
    </form>
    <td>
      <table border="1" align="center">
        <form name="search" id="search" action="/{{dbName}}/media/list/search" method="get">
        <tr>
          <td><input type="text" name="sstr" value=""></td>
          <td>&nbsp;<input type="submit" size="15" value="SEARCH"></td>
        </tr>
        </form>
        <form name="fromto" id="fromto" action="/{{dbName}}/media/list/photos" method="get">
        <tr>
          <td>From:&nbsp;<input type="text" name="pfrom" size="6" value="">&nbsp;To:&nbsp;
            <input type="text" name="pto" size="6" value=""></td>
          <td>&nbsp;<input type="submit" value="LIST"></td>
        </tr>
        </form>
      </table>
      <br>

      <table border=1 cellspacing=3 align=center>
        <tr>
          <form name="f2" action="/{{dbName}}/media/list/photos/all" method="get">
          <td><input type="submit" value="LIST"></td>
          </form>
          <td align=right>{{num_photos}}</td><td>Photos</td>
        </tr>
        <tr>
          <form name="f3" action="/{{dbName}}/media/list/indi" method="get">
          <td><input type="submit" value="LIST"></td>
          </form>
          <td align=right>{{num_indis}}</td><td>People Identified</td>
        </tr>
        <tr>
          <form name="f4" action="/{{dbName}}/media/list/photos/unlinked" method="get">
          <td><input type="submit" value="LIST"></td>
          </form>
          <td align=right>{{num_unlinked}}</td><td>Photos without People Identified</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr><td colspan="2">&nbsp;</td></tr>
  <tr>
    <td colspan="2">
    <h2>Photo Groups</h2>
    <table cellspacing="0" cellpadding="3" border="1">
    <tr><th>ID</th><th>Group Name</th><th>DEL</th><th>UPD</th><th>LIST</th></tr>
    {{#each pgroups}}
    <tr>
      {{#if ../isAdmin}}
      <form action="/{{../dbName}}/media/groups" method="post">
      <input type="hidden" name="id" value="{{this.id}}">
      <td align="right">{{this.id}}</td>
      <td><input type="text" size="100" maxlength="200" name="desc" value="{{this.desc}}"></td>
      <td><input type="submit" name="action" value="DEL"></td>
      <td><input type="submit" name="action" value="UPD"></td>
      <td><a href="/{{../dbName}}/media/list/group/{{this.id}}">LIST</a></td>
      </form>
      {{else}}
      <td align="right">{{this.id}}</td>
      <td><input type="text" size="100" disabled maxlength="200" name="desc" value="{{this.desc}}"></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><a href="/{{../dbName}}/media/list/group/{{this.id}}">LIST</a></td>
      {{/if}}
    </tr>
    {{/each}}
    {{#if isAdmin}}
    <tr>
      <form action="/{{dbName}}/media/groups" method="post">
      <td>&nbsp;</td>
      <td><input type="text" size="100" maxlength="200" name="desc" value=""></td>
      <td colspan="3" align="center"><input type="submit" name="action" value="ADD"></td>
      </form>
    </tr>
    {{/if}}
</table>

