<table align=center width="98%" border=0 cellpadding=2><tr><td>
<h2>Notes for <a href="/{{dbName}}/indi/{{indi}}">{{name}}</a>&nbsp;&nbsp; {{#if dates}}{{dates}}{{/if}}</h2>

<p class=notes>
{{#each notes as |line|}}
{{{line}}}<br>
{{/each}}
</p>
</td></tr>
</table>

